* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSans-Regular";
  transition: all 0.3s;
}
.App {
  padding-top: 10px;
}
p {
  margin: 0 !important;
  padding: 0 !important;
}
a {
  text-decoration: none !important;
}
.error {
  color: "red";
  margin-top: 5px;
  font-size: 12px;
}

/* FONTS CONFIGURATIONS */
@font-face {
  font-family: "OpenSans-Bold";
  src: url("./Assets/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("./Assets/fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("./Assets/fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url("./Assets/fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url("./Assets/fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("./Assets/fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("./Assets/fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("./Assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("./Assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("./Assets/fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
